@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");

.timeplanner {
  position: absolute;
  width: 201px;
  height: 26px;
  top: 31px;
  left: 777px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: bolder;
  font-size: 40px;
  line-height: 50%;
  display: flex;
  justify-content: center;
  color: #3b3e45;
  flex: none;
  order: 0;
  flex-grow: 0
}

.dateplanner {
  position: absolute;
  font-family: "Mulish";
  font-style: normal;
  font-weight: bold;  
  line-height: 20px;
  display: flex;
  justify-content: center;
  color: #3b3e45;
  flex: none;
  order: 1;
  flex-grow: 0;
  width: 201px;
  height: 20px;
  top: 72px;
  left: 777px;
  font-size: 20px;
}
