.line {
    margin: 6px 0 0 126px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    height: 8px;
    width: 1750px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
    border-radius: 24px;
}
.line div {
    height: 8px;
    width: 219px;
    background: #DCDFE3;
    border-radius: 8px;
}