@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");

.lado_1_01 h1,
h2,
p {
  margin: 0;
}
.pag01 {
  margin: 0;
  color: #e0e0e0;
  width: 1920px;
  height: 1080px;
  background: linear-gradient(180deg, #33383d 0%, #1c1d20 100%);
  display: flex;
}
.lado_1_01 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  width: 50%;
}
.lado_2_01 {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
}
#uol {
  position: relative;
  z-index: 1;
  margin-top: 36px;
  width: 484px;
  height: 66px;
}
#pc {
  position: absolute;
}
.lado_1_01 h1 {
  font-size: 60px;
  margin: 197px 0 18px 287px;
}
.lado_1_01 p {
  font-size: 16px;
  margin: 0 0 135px 287px;
  max-width: 300px;
}
.lado_1_01 h2 {
  margin: 0 0 32px 287px;
}
.lado_1_01 form {
  display: flex;
  flex-direction: column;
  outline: none;
}
.lado_1_01 input {
  color: #ffffff;
}
.lado_1_01 .form {
  position: relative;
  margin-bottom: 33px;
  width: 379px;
  padding: 20px 0 20px 20px;
  background: #26292c;
  border: 1px solid #ffffff;
  border-radius: 50px;
}
#password_01 {
  margin: 0 0 115px 0;
}
.lado_1_01 a {
  margin: 0 0 100px 510px;
}
#login_01 {
  font-size: 30px;
  margin: 0 0 0 285px;
  width: 400px;
  padding: 13px 143px 14px 143px;
  background: linear-gradient(90deg, #ff2d04 0%, #c13216 100%);
  border: none;
  border-radius: 50px;
  color: #e0e0e0;
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
#createaccount_01 {
  margin: 6px 0 0 300px;
  color: #ffffff;
}
#senha_01 {
  width: 20px;
  height: 25.1px;
}
.lado_1_01 section {
  display: flex;
}
.inputuser,
.inputpassword {
  width: 379px;
  position: relative;
  margin-left: 285px;
}
.inputuser input:focus,
.inputpassword input:focus {
  outline: none;
}
.inputuser input:focus ~ label,
.inputpassword input:focus ~ label,
.inputuser input:valid ~ label,
.inputpassword input:valid ~ label {
  transform: translateX(-59px);
}
#user_01 {
  position: absolute;
  top: 18px;
  right: -59px;
  z-index: 1;
  transition: 0.5s;
}
#senha_01 {
  position: absolute;
  top: 17px;
  right: -59px;
  transition: 0.3s;
}
